<div id="<%= dom_id phone %>">
  <p>
    <strong>Brand:</strong>
    <%= phone.brand %>
  </p>

  <p>
    <strong>Country origin:</strong>
    <%= phone.country_origin %>
  </p>

  <p>
    <strong>Ram:</strong>
    <%= phone.ram %>
  </p>

</div>
